<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://tetete478.github.io/Snipee/appcast-mac.xml</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.addness.SnipeeMac</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.addness.snipeemac</string>
			</array>
		</dict>
	</array>
</dict>
</plist>